:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --text-color: #fff;
}
.App {
  min-height: 100vh;
  background-color: var(--primary-color);
	color: var(--text-color);
	padding-top: 90px;
}
