:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --text-color: #fff;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
}