.movies-list {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 10px;
    position: relative;
}
.movies-list:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transform: scale(1.01);
}
.movies-item__poster {
    border-radius: 10px;
}
.movies-item__title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 8px 0;
}
.movies-item__subtitle {
    display: flex;
    justify-content: space-between;
    padding: 0 2px 3px 2px;
}