:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --text-color: #fff;
}
.header {
	font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  z-index: 100;
}
.logo {
	width: 50px;
	height: 50px;
}



