:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --text-color: #fff;
}
.header {
	font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  z-index: 100;
}
.logo {
	width: 50px;
	height: 50px;
}
.form-control {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	border-radius: 50px;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	box-shadow: 4px 4px 8px 0px rgba(1, 0, 11, 1);
}
.form-control::placeholder {
	color: #fff;
	font-weight: 500;
}
.form-control:focus {
	border: 2px solid var(--primary-color);
	background-color: var(--primary-color);
	box-shadow: 4px 4px 8px 0px rgba(1, 0, 11, 1);
	color: #fff;
}


